.content__container-cards {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 43rem;
  gap: 1rem;
  grid-template-areas:
    "first-card first-card"
    "second-card second-card"
    "third-card third-card"
    "fourth-card fourth-card"
    "last-card last-card";

  .container-cards__card {
    background-color: $black;
    padding: 3rem 4rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    color: $white;
    gap: 1rem;
    &.first-card {
      flex-direction: column;
      text-align: center;
      .container-texts__container-links {
        justify-content: center;
      }
    }
    &.last-card {
      background-size: cover;
      background-position: center;
      background-image: url(../imgs/card-background.png);
    }
    .card__container-img {
      width: 50%;
      text-align: center;
    }
    .card__container-texts {
      .container-texts__title-card {
        margin-bottom: 1rem;
        font-size: 2.1rem;
        font-weight: 500;
      }
      .container-texts__text-description {
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
      }
      .container-texts__container-links {
        font-size: 1.2rem;
        display: flex;
        gap: 2rem;
      }
    }
  }
}

.first-card {
  grid-area: first-card;
}
.second-card {
  grid-area: second-card;
}
.third-card {
  grid-area: third-card;
}
.fourth-card {
  grid-area: fourth-card;
}
.last-card {
  grid-area: last-card;
}
