@import "./card/card.scss";
@import "./card/img-card.scss";
@import "./card/content-card.scss";

.content__container-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 43rem;
  gap: 1rem;
  grid-template-areas:
    "first-card first-card"
    "second-card second-card"
    "third-card third-card"
    "fourth-card fourth-card"
    "last-card last-card";
  padding: 1rem 0;
}

.first-card {
  grid-area: first-card;
}
.second-card {
  grid-area: second-card;
}
.third-card {
  grid-area: third-card;
}
.fourth-card {
  grid-area: fourth-card;
}
.last-card {
  grid-area: last-card;
}

@media (min-width: 650px) {
  .content__container-cards {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "first-card first-card"
      "second-card third-card"
      "fourth-card last-card";
  }
}

@media (min-width: 890px) {
  .content__container-cards {
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "first-card first-card second-card"
      "third-card fourth-card fourth-card "
      "last-card last-card last-card";
    padding: 1rem 0;
  }
}
@media (min-width: 1045px) {
  .content__container-cards {
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "first-card first-card second-card last-card"
      "third-card fourth-card fourth-card last-card ";
    padding: 1rem 0;
  }
}
