.content__bunner {
  align-items: center;
  background-image: url(../imgs/iphone-capa-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $white;
  display: flex;
  flex-direction: column;
  height: 55.5rem;
  .bunner__title {
    font-size: clamp(3.8em, 5vw, 4.8rem);
    font-weight: 500;
    margin-bottom: 0.7rem;
    padding-top: 3rem;
  }
  .bunner__descriptionTitle {
    font-size: clamp(2rem, 5vw, 2.4rem);
    font-weight: 300;
    margin-bottom: 2rem;
  }
  .bunner__container-btn {
    display: flex;
    font-size: 1.3rem;
    gap: 2rem;
    text-align: center;
    .container-btn__learnMore-btn {
      border: 1px solid $blue-btn;
      border-radius: 2rem;
      color: $blue-btn;
      text-decoration: none;
      padding: 1rem;
      width: 9.7rem;
    }
    .container-btn__buyNow-btn {
      background-color: $blue-btn;
      border: 1px solid $blue-btn;
      border-radius: 2rem;
      color: $white;
      padding: 1rem;
      text-decoration: none;
      width: 9.7rem;
    }
  }
  .bunner__alert-text,
  .banner__container-img {
    display: none;
  }
}

@media (min-width: 920px) {
  .content__bunner {
    background-color: $black;
    background-image: none;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 12.7rem;
    position: relative;
    .banner__container-img {
      display: block;
      width: 70%;
      .container-img__img {
        width: 100%;
      }
    }

    .bunner__alert-text {
      bottom: 1rem;
      display: block;
      position: absolute;
    }
  }
}
