@import "./reset.scss";
@import "./variables.scss";
@import "./menu/menu.scss";
@import "./main/section-banner/section-banner.scss";
@import "./main/section-categories/categories.scss";
@import "./main/section-cards/section-card.scss";
@import "./main/article-ad-university/ad-university.scss";
@import "./main/section-carrosel/section-content.scss";
@import "./main/section-carrosel/carrosel.scss";
.container {
  max-width: min(90vw, 1440px);
  margin: 0 auto;
}
.text-blue {
  color: $blue-btn;
  text-decoration: none;
}
.red-text {
  color: #ff0000;
}
.orange-text {
  color: #ff7a00;
}
