.menu {
  -webkit-backdrop-filter: blur(11.2px);
  background: $background-menu;
  backdrop-filter: blur(11.2px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 2rem 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  .menu__navigation-desktop {
    display: none;
  }
  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .menu__icons-list {
    align-items: center;
    display: flex;
    gap: 2rem;
    i {
      color: $white;
      font-size: 2rem;
    }
  }
}

.menu.active {
  background-color: $black;
}

@media (min-width: 920px) {
  .menu {
    transition: all 0.5s ease-in-out;

    img {
      width: 3rem;
    }
  }
}
