.link__submenu {
  background-color: $black;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  padding: 3rem 0;
  position: absolute;
  top: 0;
  transform: translateX(-1000px);
  transition: all 0.4s ease-in-out;
  width: 80%;
  i {
    color: $white;
    font-size: 2rem;
  }
  .item__link-submenu {
    @extend .item__link;
  }
}
@media (min-width: 920px) {
  .link__submenu {
    height: 50vh;
    top: 6rem;
    transform: translateX(-10000px);
    padding: 3rem 0;
    padding-left: calc((100vw - min(80vw, 1440px)) / 2);
    width: 100vw;
    left: 0;
    i {
      color: $white;
      cursor: pointer;
      font-size: 2rem;
    }
    .item__link-submenu {
      font-size: 5rem;
      width: 20%;
    }
  }
}
