.appleTV__carrousel {
  margin-top: 3rem;
  position: relative;

  .carrousel__control {
    position: absolute;
    background: #ffffff85;
    color: $black;
    font-size: 3.5rem;
    top: 50%;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
  }
  .carrousel__control.left {
    left: 0;
  }
  .carrousel__control.right {
    right: 0;
  }
}

@media (min-width: 700px) {
  .carrousel__control {
    // display: none;
  }
}
