#navMenu {
  background: none;
  border: none;
  display: block;

  & > span {
    background-color: $white;
    border-radius: 9999px;
    display: block;
    height: 2px;
    width: 20px;
  }

  & > span:not(:last-child) {
    margin-bottom: 7px;
  }
}

#navMenu,
#navMenu > span {
  transition: all 0.4s ease-in-out;
}
#navMenu.active {
  transition-delay: 0.2s;
  transform: rotate(45deg);
  span:nth-child(1),
  span:nth-child(2) {
    transition-delay: 0.2s;
  }

  span:nth-child(1) {
    transform: translateY(4px);
  }
  span:nth-child(2) {
    transform: translateY(-5px) rotate(90deg);
  }
}
