.first-card {
  .card__container-img {
    width: 35%;
    img {
      width: 100%;
    }
  }
}
.card__container-img {
  width: 50%;
  img {
    width: 100%;
  }
}
.ad-university + .content__container-cards .container-cards__card {
  .card__container-img {
    width: 80%;
    img {
      width: 100%;
    }
  }
}
@media (min-width: 890px) {
  .first-card,
  .fourth-card {
    .card__container-img {
      img {
        width: 70%;
      }
    }
  }
  .card__container-img {
    width: 70%;
    img {
      width: 100%;
    }
  }
}
